/* navbar */
.navbar {
    background-color: rgba(0,0,0,.5);
}

/* navbar logo */
.navbar-brand {
    font-family: open sans;
    font-size: 24px;
    color: white;
}

/* navbar menu*/
.nav-link {
    text-transform: uppercase;
    margin-right: 15px;
}

/* jumbotron */
.jumbotron {
    background-image: url(assets/main-bg.jpg);
    background-size: cover;
    height: 800px;
    margin-top: -65px;
}
